initialize(){
	
	setSeed(7224210805541785464);
	
	// new constants for panmictic model
	defineCfgParam("DRIVE_TYPE", "MULTILOCUS"); // either DSX, MULTILOCUS, or SINGLE_TARGET	
	defineCfgParam("HAPLOLETHAL_DRIVE", F); // whether individuals with at least 1 r2 allele at drive site are nonviable
	defineCfgParam("HAPLOSUFFICIENT_DRIVE", F); // whether individuals with 2 r2 alleles at drive site are nonviable
	defineCfgParam("R1_OCCURRENCE_RATE", 1.0); // the fraction of resistance mutations that are r1 (the rest are r2) at drive site
	defineCfgParam("BETA", 10); // low density growth rate
	defineCfgParam("MAX_OFFSPRING", 50);
	defineCfgParam("DROP_GEN", 10);
	defineCfgParam("INTRODUCTION_FREQUENCY", 0.01); // release as a drop of drive HETEROZYGOTES by default
	
	if (!any(c("MULTILOCUS", "SINGLE_TARGET", "DSX") == DRIVE_TYPE))
		stop("DRIVE_TYPE must be MULTILOCUS, SINGLE_TARGET, or DSX!");
	
	// general constants
	defineCfgParam("CAPACITY", 10000);
	defineCfgParam("recomb_rate", 1e-8);
	
	// constants for drive locus
	defineCfgParam("resistance_rate", 0.001);
	defineCfgParam("cleavage_rate", 1.0);  // cleavage rate of wild-type allele
	defineCfgParam("drive_coeff", -0.05);  // selection coefficient of drive allele
	defineCfgParam("drive_dom", 0.5);  // dominance of drive allele
	
	// constants for distant target loci
	if (DRIVE_TYPE == "DSX")
		defineConstant("num_target_loci", 0);
	else if (DRIVE_TYPE == "SINGLE_TARGET")
		defineConstant("num_target_loci", 1);
	else
		defineCfgParam("num_target_loci", 10);  // either linked or unlinked
	
	defineCfgParam("disruption_rate", 0.2);  // non-functional alleles at target loci
	defineCfgParam("func_resist_rate", 0.01);  // functional alleles at target loci	
	defineCfgParam("broken_coeff", -0.1);  // cost of disrupted allele at a target site
	defineCfgParam("broken_dom", 0.0);  // dominance of disrupted allele at a target site
	
	// allow population size to change
	initializeSLiMModelType("nonWF");
	
	// setup mutation types
	initializeMutationRate(0);  // no outside mutations
	
	// drive locus
	wt = initializeMutationType("m1", 1, "f", 0);  // wild-type allele
	d = initializeMutationType("m2", drive_dom, "f", drive_coeff);  // gene drive
	r1 = initializeMutationType("m3", 1, "f", 0);  // functional resistance allele
	r2 = initializeMutationType("m7", 1, "f", 0);  // nonfunctional resistance allele
	
	// target loci
	wt2 = initializeMutationType("m4", 1, "f", 0);  // wild-type at other loci
	b = initializeMutationType("m5", 1, "f", 0);  // broken allele
	f = initializeMutationType("m6", 1, "f", 0);  // functional resistance allele
	
	// setup the genome
	initializeGenomicElementType("g1", c(wt, d, r1, r2), c(1, 1, 1,1));
	initializeGenomicElementType("g2", c(wt2, b, f), c(1, 1, 1));
	initializeGenomicElement(g1, 0, 0);
	if (num_target_loci > 0)
		initializeGenomicElement(g2, 1, num_target_loci);
	
	if (num_target_loci > 1)
		initializeRecombinationRate(c(0.5, recomb_rate), c(1, num_target_loci));
	else
		initializeRecombinationRate(0.5);  // 0.5 = unlinked loci
	
	// do not allow mutation stacking or substitution
	variations = c(wt, d, r1,r2, wt2, b, f);
	variations.mutationStackGroup = 1;
	variations.mutationStackPolicy = "l";
	variations.convertToSubstitution = F;
	
	// Simulate sexual reproduction
	initializeSex("A");
}

function (void) defineCfgParam(string$ name, lifs value) {
	if (!exists(name))
		defineConstant(name, value);
}

function (void)addResistanceAllele(o<Haplosome>$ genome, i$ locus) {
	if (runif(1) < R1_OCCURRENCE_RATE)
		genome.addNewDrawnMutation(m3, locus); // r1
	else
		genome.addNewDrawnMutation(m7, locus); // r2
}

function (void)homing(o<Haplosome>$ genome, i$ locus){
	if (runif(1) < cleavage_rate){
		if (runif(1) < resistance_rate)
			addResistanceAllele(genome, locus); // r1 or r2
		else
			// HDR to introduce the drive allele
			genome.addNewDrawnMutation(m2, locus);
	}
}

// only call this on individuals of sex in which sterility is induced
function (logical)isSterile(o<Individual>$ ind){
	
	if (DRIVE_TYPE == "DSX"){
		// sterile if d/d, d/r2, or r2/r2
		drive_count = ind.countOfMutationsOfType(m2);
		r2_count = ind.countOfMutationsOfType(m7);
		
		if (drive_count + r2_count == 2)
			return T;
	}
	
	if (DRIVE_TYPE == "SINGLE_TARGET"){
		// sterile if both targets are disrupted
		disrupted_target_count = ind.countOfMutationsOfType(m5);
		if (disrupted_target_count == 2)
			return T;
	}
	
	return F;
}

function (f$)genotypeFitness(o<Individual>$ ind){
	
	drive_count = ind.countOfMutationsOfType(m2);
	drive_fitness = 1.0;
	if (drive_count == 1)
		drive_fitness = 1 + drive_coeff*drive_dom;
	else if (drive_count == 2)
		drive_fitness = 1 + drive_coeff;
	
	if ((ind.sex == "M") | (num_target_loci == 0))
		return drive_fitness;
	
	// For SINGLE_TARGET drive, homozygous females are already deemed sterile. Thus, this function will only be called for heterozygotes.
	// For MULTILOCUS drive, broken targets lead to fecundity cost
	broken_pos1 = individual.haploidGenome1.positionsOfMutationsOfType(m5);
	broken_pos2 = individual.haploidGenome2.positionsOfMutationsOfType(m5);
	
	num_homozygous = size(setIntersection(broken_pos1, broken_pos2));
	num_heterozygous = size(broken_pos1) + size(broken_pos2) - (2*num_homozygous);
	
	// create some fitness cost for homozygous deleterious mutations
	target_fitness = 1.0;
	if (num_homozygous)
		target_fitness = target_fitness*(1 + broken_coeff)^(num_homozygous);  // do not allow negative fitness either
	
	if (num_heterozygous)
		target_fitness = target_fitness*(1 + broken_coeff*broken_dom)^(num_heterozygous);
	
	
	full_fitness = target_fitness*drive_fitness;
	
	return full_fitness;
}

function (void)targetSiteCleavage(o<Haplosome>$ genome){
	disrupt_chance = (runif(num_target_loci) < disruption_rate);
	resist_chance = (runif(num_target_loci) < func_resist_rate);
	
	// positions of undisrupted targets
	wt2_pos = genome.positionsOfMutationsOfType(m4);
	wt2_pos = (match(1:num_target_loci, wt2_pos) >= 0);
	
	// if wt position was cut and there was no resistance, it becomes a disrupted allele
	disrupt_convert = (disrupt_chance & !resist_chance & wt2_pos);
	
	// if wt position was cut and there was resistance, it becomes a functional resistance allele
	resist_convert = (disrupt_chance & resist_chance & wt2_pos);
	
	// make the cuts
	if (sum(disrupt_convert))
		genome.addNewDrawnMutation(m5, (1:num_target_loci)[disrupt_convert]);
	
	if (sum(resist_convert))
		genome.addNewDrawnMutation(m6, (1:num_target_loci)[resist_convert]);
}


1 first(){
	// create population
	sim.addSubpop("p1", CAPACITY);
	p1.haplosomes.addNewDrawnMutation(m1, 0);
	
	// put the second wild-type allele at all the other loci
	if (num_target_loci > 0)
		p1.haplosomes.addNewDrawnMutation(m4, 1:num_target_loci);
}

reproduction(NULL, "F"){
	
	if (isSterile(individual))
		return;
	
	// Randomly sample males. Choose based on fitness.
	found_mate = F;
	attempt_no = 0;
	while (!found_mate & (attempt_no < 10)){
		male = p1.sampleIndividuals(1, sex = "M");
		
		if (!male.size())
			return;  // no males
		
		attractiveness = genotypeFitness(male);
		if (runif(1) < attractiveness){
			selected_mate = male;
			found_mate = T;
		}
		attempt_no = attempt_no + 1;
	}
	
	if (!found_mate)
		return;
	
	female_fitness = genotypeFitness(individual);
	density_factor = BETA/( (BETA-1)*(p1.individualCount/CAPACITY) + 1 );
	p_success = (2/MAX_OFFSPRING)*female_fitness*density_factor; // probably of offspring generation declines with fitness cost & competition
	num_offspring = rbinom(1, MAX_OFFSPRING, p_success);
	
	for (i in seqLen(num_offspring))
		offspring = p1.addCrossed(individual, selected_mate);
}

modifyChild(){
	mother_drive_count = parent1.countOfMutationsOfType(m2);
	father_drive_count = parent2.countOfMutationsOfType(m2);
	
	// Homing at drive locus
	if (mother_drive_count == 1 & child.haploidGenome1.countOfMutationsOfType(m1))
		homing(child.haploidGenome1, 0);
	
	if (father_drive_count == 1 & child.haploidGenome2.countOfMutationsOfType(m1))
		homing(child.haploidGenome2, 0);
	
	// Cleavage at the target loci
	if (num_target_loci > 0){
		if (mother_drive_count)
			targetSiteCleavage(child.haploidGenome1);
		
		if (father_drive_count)
			targetSiteCleavage(child.haploidGenome2);
	}
	
	// Possibly add embryo cleavage here later
	
	// If this is a haplolethal drive, remove individuals with at least 1 nonfunctional allele
	// If this is a haplosufficient drive, remove individuals with 2 nonfunctional alleles
	r2_count = child.countOfMutationsOfType(m7);
	
	if (HAPLOLETHAL_DRIVE) {
		if (r2_count)
			return F;
	} else if (HAPLOSUFFICIENT_DRIVE){
		if (r2_count == 2)
			return F;
	}
	
	return T;
}

1: early() {
	all = p1.individuals;
	parents = all[all.age > 0];
	
	// Create non-overlapping generations
	sim.killIndividuals(parents);
}

1: late(){
	gen = sim.cycle;
	
	if (gen == DROP_GEN){
		N = p1.individualCount;
		num_add = asInteger(round((N*2*INTRODUCTION_FREQUENCY)/(1 - 2*INTRODUCTION_FREQUENCY)));
		sim.addSubpop("p2", num_add);
		drop = p2.individuals;
		
		// dw at drive locus
		drop.haploidGenome1.addNewDrawnMutation(m2, 0);
		drop.haploidGenome2.addNewDrawnMutation(m1, 0);
		
		// wild-type at all target loci
		if (num_target_loci > 0)
			drop.haplosomes.addNewDrawnMutation(m4, 1:num_target_loci);
		
		p1.takeMigrants(drop);
		
		catn(paste0("DROP:: GEN: ", gen, " NUM_DW: ", num_add, " INITIAL_FREQ: ", num_add/(2*N)));
	}
	
	// Output
	popsize = p1.individualCount;
	num_genomes = 2*popsize;
	num_target_sites = num_genomes*num_target_loci;
	all = p1.individuals;
	wt_rate = sum(all.countOfMutationsOfType(m1))/(num_genomes);
	drive_rate = sum(all.countOfMutationsOfType(m2))/(num_genomes);
	r1_rate = sum(all.countOfMutationsOfType(m3))/(num_genomes);
	r2_rate = sum(all.countOfMutationsOfType(m7))/(num_genomes);
	
	// same thing for mutations at other loci
	undisrupted_rate = 0.0;
	disrupted_rate = 0.0;
	target_r1_rate = 0.0;
	if (num_target_loci > 0){
		undisrupted_rate = sum(all.countOfMutationsOfType(m4))/(num_target_sites);
		disrupted_rate = sum(all.countOfMutationsOfType(m5))/(num_target_sites);
		target_r1_rate = sum(all.countOfMutationsOfType(m6))/(num_target_sites);
	}
	
	relative_gen = gen - DROP_GEN;
	
	if (relative_gen < 0){
		catn(paste0("GEN:: ", relative_gen, " POPSIZE:: ", popsize));
	} else {
		catn(paste0("GEN:: ", relative_gen, " POPSIZE:: ", popsize, " DRIVE_RATE:: ", drive_rate, " WT_RATE:: ", wt_rate, " R1_RATE:: " + r1_rate, " R2_RATE:: ", r2_rate, " DISRUPTED_RATE:: ", disrupted_rate, " UNDISRUPTED_RATE:: ", undisrupted_rate, " RES_TARGET_RATE:: ", target_r1_rate));
		
		if (popsize == 0){
			catn("SUPPRESSION_AT_GEN:: " + relative_gen);
			sim.simulationFinished();
		}
		
		if (drive_rate == 0 & popsize > 0){
			catn("DRIVE_LOST_AT_GEN:: " + relative_gen);
			//sim.simulationFinished();
		}
	}

}


1000 late(){
	// need to end the simulation at some point
	catn("SIMULATION_TIMED_OUT");
	sim.simulationFinished();
}